@tailwind base;
@tailwind components;
@tailwind utilities;

.glow{
    transition: all 0.3s ease-in-out;
}
.glow:hover {
    box-shadow: 0 0 25px rgb(234, 210, 232)
}
.img_glow {
    box-shadow: 0 0 55px rgb(87, 32, 83);
}
.neno-button {
    transition: all 0.3s ease-in-out;
}
.neno-button:hover {
    box-shadow: 0 0 25px rgb(87, 32, 83);
}
.b-glow{
    box-shadow: 0 0 25px rgb(234, 210, 232)
}
   
